:root {
  --main-bg: #32B9AA;
  --main-bg-gas: #87289B;
  --circles-first: 1;
  --circles-first-gas: 0;
  --circles-second: 0;
  --circles-second-gas: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rays {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
@keyframes circleOne {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(24px, 24px);
  }
  40% {
    transform: translate(0, 0);
  }
}
@keyframes circleTwo {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(24px, -24px);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(24px, -24px);
  }
}
@keyframes circleThree {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-24px, -24px);
  }
  80% {
    transform: translate(-24px, -24px);
  }
}
@keyframes circleFour {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-24px, 24px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.i-circles {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.i-circles__circles {
  z-index: -3;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 678px;
  width: 678px;
}
@media only screen and (min-width: 960px) {
  .i-circles__circles {
    transform: translate(-50%, -50%) scale(1.6);
  }
}
@media only screen and (min-width: 1280px) {
  .i-circles__circles {
    transform: translate(-50%, -50%) scale(2);
  }
}
@media only screen and (min-width: 1920px) {
  .i-circles__circles {
    transform: translate(-50%, -50%) scale(2.7);
  }
}
.i-circles__circles span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(71deg, #78C8BE 7.59%, #EBFF00 214.72%);
  opacity: 0.1;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  will-change: transform;
  animation: circleOne 8s infinite linear;
}
@media only screen and (min-width: 960px) {
  .i-circles__circles span {
    background: #78C8BE;
  }
}
.i-circles__circles span:nth-child(1) {
  left: -24px;
  top: -24px;
}
.i-circles__circles span:nth-child(2) {
  left: -24px;
  top: 24px;
  animation-name: circleTwo;
}
.i-circles__circles span:nth-child(3) {
  left: 24px;
  top: 24px;
  animation-name: circleThree;
}
.i-circles__circles span:nth-child(4) {
  left: 24px;
  top: -24px;
  animation-name: circleFour;
}
.i-circles__plus {
  display: none;
}
@media only screen and (min-width: 960px) {
  .i-circles__plus {
    z-index: 2;
    height: 48px;
    width: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.i-circle {
  height: 202px;
  width: 202px;
  min-width: 202px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.i-circle__bg {
  z-index: -1;
  position: absolute;
  background: #FFFFFF;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.i-circle__overwrap {
  z-index: -1;
  position: absolute;
  top: 0;
  left: -128px;
  height: 100%;
  width: 100%;
}
.i-circle__overwrap:before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.1;
}
@media only screen and (min-width: 960px) {
  .i-circle__overwrap {
    transform: translateX(-74px);
  }
}
.i-circle__heart {
  z-index: 1;
  position: absolute;
  height: 36px;
  width: 44px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}
@media only screen and (min-width: 960px) {
  .i-circle__heart {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
}
.i-circle__title {
  font-weight: 700;
  font-size: 24px;
  color: #87289B;
  text-align: center;
  transform: translateX(-20px);
}
@media only screen and (min-width: 960px) {
  .i-circle__title {
    transform: none;
  }
}
.i-circle__fire {
  -webkit-mask-image: linear-gradient(90deg, transparent 30%, black 60%);
  mask-image: linear-gradient(90deg, transparent 30%, black 60%);
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 432px;
  width: 432px;
}
@media only screen and (min-width: 960px) {
  .i-circle__fire {
    opacity: 0;
    transition: opacity 0.25s;
    -webkit-mask-image: linear-gradient(90deg, transparent 0, black 0);
    mask-image: linear-gradient(90deg, transparent 0, black 0);
  }
}
.i-circle__fire-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.i-circle__gas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.i-circle__gas-fire {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  animation: rotate 60s infinite linear;
}
.i-circle__gas-subfire {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.i-circle__rays {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  -webkit-mask-image: linear-gradient(-90deg, transparent 30%, black 60%);
  mask-image: linear-gradient(-90deg, transparent 30%, black 60%);
  height: 432px;
  width: 432px;
}
@media only screen and (min-width: 960px) {
  .i-circle__rays {
    -webkit-mask-image: linear-gradient(-90deg, transparent 0, black 0);
    mask-image: linear-gradient(-90deg, transparent 0, black 0);
  }
}
.i-circle_gas {
  transform: translateX(-37px);
}
@media only screen and (min-width: 960px) {
  .i-circle_gas {
    transform: translateX(123px);
  }
}
.i-circle_gas .i-circle__bg {
  background: linear-gradient(90deg, #A53CA5 0%, #641491 100%);
}
.i-circle_gas .i-circle__title {
  color: #FFFFFF;
  transform: translateX(10px);
}
@media only screen and (min-width: 960px) {
  .i-circle_gas .i-circle__title {
    transform: none;
  }
}
@media only screen and (min-width: 960px) {
  .i-circle_gas.is-active .i-circle__fire {
    opacity: 1;
  }
}
.i-circle_strom {
  transform: translateX(37px);
}
@media only screen and (min-width: 960px) {
  .i-circle_strom {
    transform: translateX(-123px);
  }
}
.i-circle_strom .rays__circle img {
  will-change: transform, opacity;
  animation: rays 4s infinite linear;
}
@media only screen and (min-width: 960px) {
  .i-circle_strom .rays__circle img {
    animation-name: none;
  }
}
.i-circle_strom .rays__circle_second img {
  animation-delay: 1s;
}
.i-circle_strom .rays__circle_third img {
  animation-delay: 2s;
}
.i-circle_strom .rays__circle_fourth img {
  animation-delay: 3s;
}
@media only screen and (min-width: 960px) {
  .i-circle_strom.is-active .rays__circle img {
    animation-name: rays;
  }
}

.rays__line {
  position: absolute;
  bottom: 0;
  left: -17px;
  width: 34px;
  height: 74px;
  transform-origin: 50% 100%;
}
.rays__line img {
  height: 100%;
  width: 100%;
}
.rays__line:nth-child(1) {
  transform: rotate(30deg);
}
.rays__line:nth-child(2) {
  transform: rotate(60deg);
}
.rays__line:nth-child(3) {
  transform: rotate(90deg);
}
.rays__line:nth-child(4) {
  transform: rotate(120deg);
}
.rays__line:nth-child(5) {
  transform: rotate(150deg);
}
.rays__line:nth-child(6) {
  transform: rotate(180deg);
}
.rays__line:nth-child(7) {
  transform: rotate(210deg);
}
.rays__line:nth-child(8) {
  transform: rotate(240deg);
}
.rays__line:nth-child(9) {
  transform: rotate(270deg);
}
.rays__line:nth-child(10) {
  transform: rotate(300deg);
}
.rays__line:nth-child(11) {
  transform: rotate(330deg);
}
.rays__line:nth-child(12) {
  transform: rotate(360deg);
}
.rays__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rays__circle_second, .rays__circle_fourth {
  transform-origin: center;
  transform: rotate(15deg);
}

.btn {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #FF5F50;
  box-shadow: 0px 8px 32px rgba(255, 95, 80, 0.45);
  border-radius: 32px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  padding: 20px 24px;
  white-space: nowrap;
}

.switcher {
  background: #f1f1f1;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
}
.switcher__btn {
  cursor: pointer;
  background: transparent;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding: 14px;
  color: #282D32;
  border: none;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}
.switcher__btn.is-active {
  box-shadow: 0px 8px 64px rgba(2, 2, 2, 0.15);
  color: #FF5F50;
  background-color: #FFFFFF;
}

.i-section {
  padding: 64px 0 112px;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: #DCF0F0;
  color: #282D32;
  position: relative;
  z-index: 1;
}
.i-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(71deg, #78C8BE 7.59%, #EBFF00 214.72%);
}
@media only screen and (min-width: 960px) {
  .i-section__bg {
    opacity: 0;
  }
}
.i-section__bg-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 710px;
}
.i-section__container {
  max-width: 1440px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 960px) {
  .i-section__container {
    position: relative;
  }
}
.i-section__title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 32px;
}
.i-section__text {
  font-size: 16px;
  line-height: 1.5;
}
.i-section__content {
  position: relative;
  z-index: 2;
  padding: 0 12px;
  max-width: 640px;
  margin: 0 auto;
}
.i-section__content_top {
  margin-bottom: 76px;
}
@media only screen and (min-width: 960px) {
  .i-section__content_top {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 960px) {
  .i-section__content_bottom {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
}
.i-section__panel {
  position: relative;
  z-index: 2;
  max-width: 624px;
  margin: 0 auto 62px;
}
@media only screen and (min-width: 960px) {
  .i-section__panel {
    margin-bottom: 0;
    opacity: 0;
    transform: translateY(100px);
  }
}

.panel {
  margin-top: 53px;
  position: relative;
  z-index: 1;
  background-color: #FFF;
  border-radius: 16px;
  padding: 32px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) rotate(135deg);
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background-color: #FFF;
  clip-path: polygon(0px 2px, 0px 44px, 42px 44px);
}
.panel__title {
  color: #FF5F50;
  font-weight: 600;
  font-size: 56px;
  line-height: 0.8;
  margin-bottom: 8px;
}
.panel__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.panel__switcher {
  margin-bottom: 28px;
}
.panel__btn {
  position: relative;
}
.panel__btn .btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.panel__btn .btn.is-active {
  opacity: 1;
  pointer-events: auto;
}
.panel__btn .btn:not(:first-child) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=styles.css.map */
